{% extends 'base.html' %}

{% block content %}
<div class="d-lg-flex ">
    <div  class="p-4 mt-0 d-sm w-100 p-sm-4 p-lg-5">
        <h1 class=" mt-0 d-sm w-100 p-sm-4 p-lg-5 text-white rounded-3 text-center text-md-center p-sm-5" style="font-size:117px;  background-color: #6d1ed4;">Zellee</h1>
        <!-- <img src="/media/crw_948h_500.webp" class="p-3 mt-0 d-sm w-100 p-sm-4 p-lg-5" alt=""> -->
    </div>
    <div class="mt-lg-5">
        <div class=" d-sg d-flex justify-content-center mt-5  ">
            <h1 class="text-center">Online ( 24/7 ) Customer Service - XXXXXXXXXX</h1>

        </div>
        <div class="d-flex justify-content-center mt-2 ">
            <a href="tel:+91 7668873657"><button class="btn fs-4" style="background-color:#6d1ed4; color: white;">Click to connect with live client </button></a>
        </div>
    </div>
</div>

<div class="mt-5 border border-1 p-2" style="height: 400px;">
    <h3 class="text-center mt-3">Contact Us</h3>

    <form action="" class=" d-flex justify-content-center" method="post">
        {% csrf_token %}
        <div>
            <input type="text" class="w-100 px-4 mt-3" placeholder="contact number" name="phone" required="">
            <input type="email" class="w-100 px-4 mt-3" placeholder="email" name="email" required="">
            <input type="text" class="w-100 px-4 mt-3 h-50" placeholder="message" name="msg" required="">
            <button type="submit" class="btn  fs-5 float-end mt-3" style="background-color:#6d1ed4; color: white;">send</button>
        </div>
        
    </form>
    
</div>
{% endblock content %}